<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.rt.hightec.agent.launcher.launchConfigurationType">
    <stringAttribute key="ACC_HW" value=""/>
    <booleanAttribute key="ENABLE_AGENTLOG" value="false"/>
    <booleanAttribute key="ENABLE_FLASHING" value="true"/>
    <booleanAttribute key="ENABLE_STOPPING" value="true"/>
    <stringAttribute key="EXECUTABLE_PATH" value="${workspace_loc}/SmartCar/TriCore Debug (TASKING)/SmartCar.elf"/>
    <stringAttribute key="STOP_FUNCTION" value="core0_main"/>
    <stringAttribute key="SVD" value="D:/Infineon/AURIX-Studio-1.10.28/build_system/bundled-artefacts-repo/svd/tc26xbpd/1.1-2/device.svd"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="SmartCar"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/SmartCar"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_LOCATION" value="/SmartCar/SmartCar TriCore Debug (TASKING).launch"/>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_PROJECT_NAME" value="SmartCar"/>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_SHARED" value="true"/>
    <stringAttribute key="org.eclipse.tcf.debug.ProjectName" value="SmartCar"/>
    <stringAttribute key="org.eclipse.tcf.debug.executable_name" value="${workspace_loc}/SmartCar/TriCore Debug (TASKING)/SmartCar.elf"/>
</launchConfiguration>
